{% load static %}
<div class="header">
    <img src="{% static 'img/pcw.png' %}" alt="" class="logo">
    <p class="logo-text">Community</p>
    <ul class="menu-list">
        <li class="list-item"><a href="#">Home</a></li>
        <li class="list-item"><a href="#">Books</a></li>
        <li class="list-item"><a href="#">Roadmaps</a></li>
        <li class="list-item"><a href="#">Telegram</a></li>
        <li class="list-item"><a href="{% url 'seminar:seminar-list' %}">Seminars</a></li>
        <li class="list-item"><a href="#">Contact</a></li>
    </ul>
    <div class="header-right">
        <p class="header-language">
            <a href="{% url 'seminar:seminar-create' %}" style = "font-size:25px;">test sem cre</a>
            <span class="az">az</span>
            <span class="en">en</span>
            <span class="ru">ru</span>
            <a href="{% url 'user:passwordchange' %}" style = "font-size:25px;">test change pass</a>

        </p>
        <a href="{% url 'user:login' %}" class="sign-in-location">sign in</a> /
        <a href="{% url 'user:register' %}" class="sign-up-location">sing up</a>

    </div>
</div>