{% block profile_tam %}
                <hr>  
<div class="row">

        <div style= "margin-top :30px;" class = "container">

        <div class="col-md-8 pull-center">
        <form method="post" enctype = 'multipart/form-data' action= "{% url 'user:settings' %}" >

            {% csrf_token %}
            {% for field in form %}
                <div class='form-group'>
                    <label class= 'control-label'>{{field.label}}</label>
                    {{field}}
                    {% if field.errors %}
                        {% for error in  field.errors %}
                        <span class= 'text-danger'> <b>{{ error }}</b> </span>
                            {% endfor %}
                        {% else %}
                            {% if field.help_text %}
                            <span class= 'text-success'> <b> {{ field.help_text }} </b> </span>
                            {% endif %}
                        {% endif %}
                </div>
            {% endfor %}
        <div class= 'form-group pull-right'>
                <input type="submit" value ='Yadda saxla' class = 'btn btn-sm btn-success'>
        </div>
        <br>
        <br>
        
        <br>
       
        </form>
        
        </div>
        </div>
        

  

{% endblock profile_tam %}