{% extends 'post/layout.html' %}

{% block tittle %}
    {{ post.name }}
{% endblock %}

{% block content %}
<div id="show">
    <div class="container">.
        <h1>{{ post.name }}</h1>
        <div class="show-user">
            <img src="../../../../static/img/user.png" alt="" class="user-icon">
            <div class="show-user-container">
                <span class="show-user-name">{{ post.author.username }}</span><br>
                <span class="show-date">4 March</span>'<span class="show-words-count">365 words</span>/<span
                    class="show-like-count">365 like</span>
            </div>
            <ul class="social-icons">
                <li><a href="#"><img src="../../../../static/img/github-icon.svg" alt=""></a></li>
                <li><a href="#"><img src="../../../../static/img/facebook-icon.svg" alt=""></a></li>
                <li><a href="#"><img src="../../../../static/img/linkedin-icon.svg" alt=""></a></li>
            </ul>
        </div>
        <div class="show-content">
            <div class="show-img">
                <img src="../../../../static/img/show-img.jpg" alt="">
            </div>
            <p>
                {{ post.body }}
            </p>
        </div>
        <div class="show-bottom">
            <div class="like-dislike-container">
                <img src="../../../../static/img/like.svg" alt="" class="like-icon">
                <span class="like-count">14</span>
                <img src="../../../../static/img/dislike.svg" alt="" class="dislike-icon">
                <span class="dislike-count">12</span>
            </div>
            <div class="show-bottom-right">
                <img src="../../../../static/img/eye-2.svg" alt="">
                <span class="show-count">125</span>
                <img src="../../../../static/img/share-icon.svg" alt="" class="share-icon">
            </div>
        </div>
        <textarea name="" id="" cols="30" rows="10" class="comment-input"></textarea>
        <div class="button-container">
            <button class="comment-button">comment</button>
        </div>
        <div class="comments">
            <div class="comment-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque ex
                exercitationem incidunt, nam praesentium quas quibusdam reiciendis sapiente voluptatum.
            </div>
            <div class="comment-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque ex
                exercitationem incidunt, nam praesentium quas quibusdam reiciendis sapiente voluptatum.
            </div>
            <div class="comment-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque ex
                exercitationem incidunt, nam praesentium quas quibusdam reiciendis sapiente voluptatum.
            </div>
            <div class="comment-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque ex
                exercitationem incidunt, nam praesentium quas quibusdam reiciendis sapiente voluptatum.
            </div>
        </div>
    </div>
</div>
{% endblock %}