src/.idea/
src/venv/
src/PCW/__pycache__/
src/.env
src/blog/__pycache__/
src/blog/migrations/__pycache__/
src/user/__pycache__/
src/user/migrations/__pycache__/
src/db.sqlite3
src/error_pages/__pycache__/
src/error_pages/migrations/__pycache__/
src/node_modules/
