asgiref==3.3.1
Django==3.1.3
django-crispy-forms==1.9.2
django-debugtools==1.8
django-environ==0.4.5
django-seed==0.2.2
django-webpack-loader==0.7.0
djangomix==1.1.3
djangorestframework==3.12.2
Faker==4.16.0
Pillow==8.0.1
psycopg2==2.8.6
psycopg2-binary==2.8.6
python-dateutil==2.8.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
text-unidecode==1.3
gunicorn==20.0.4
gevent