
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--color2);
    background: var(--color1);
    font-size: 2rem;
    font-family: Arial, serif;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-content {
        display: flex;
        align-items: center;
        height: 54px;

        .copyright-icon {
            padding-right: .5rem;
        }
    }
}
