.header {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--color1);
    padding: 0 2rem;

    .logo {
        width: 6rem;
        height: 6rem;
    }

    .logo-text {
        display: inline-block;
        font-size: 2.2rem;
        color: var(--color2);
        font-family: "Arial Black", serif;
        padding: 0 1rem;
    }

    .menu-list {
        color: var(--color2);
        margin: 0;

        .list-item {
            display: inline-block;
            text-decoration: none;

            a {
                display: inline-block;
                font-size: 1.5rem;
                font-family: Arial, serif;
                font-weight: 900;
                padding: 2.7rem 1rem;
                cursor: pointer;
                color: var(--color2);
                text-decoration: none;
                transition: all .4s;
            }

            a:hover {
                background: var(--color2);
                color: var(--color1);
                transition: all .4s;
            }
        }
    }

    .header-right {
        color: var(--color2);
        font-size: 1.5rem;
        font-family: Arial, serif;
        position: absolute;
        right: 3rem;
    }

    .header-language {
        padding-right: 3rem;
        display: inline-block;

        span {
            cursor: pointer;
        }
    }

    .sign-in-location, .sign-up-location {
        color: var(--color2);
        text-decoration: none;
    }

}