<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../static/css/app.css">
</head>
<body>
    <div id = "show">
        <div class="container">
            <div class="show-user">
                <img src="../../img/user.png" alt="">
                <span class="show-user-name">TaghiyevVugar</span>
                <div class="show-hr-line"></div>
                <p class="show-date">16/12/2020</p>
            </div>
        </div>
    </div>
</body>
</html>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


<strong>{{ post.name }} posted by {{ post.author.username }}</strong>

<p>{{ post.body }}</p>