

<h1><a href="{%  url 'post:post-create' %}">+Create Post</a></h1>

{%  for post in posts %}

    {% if post.deleted != True %}
    <div>
        <strong><a href="{%  url 'post:post-detail' post.slug %}">{{ post.name }}</a> posted by {{ post.author.username }}</strong>
        <p>{{ post.snipped_body }}</p>
        <h5><a href="{% url 'post:post-edit' post.slug %}">Edit</a></h5>
        <h5><a href="{% url 'post:post-delete' post.slug %}">Delete</a></h5>
    </div><hr>
    {% endif %}


{%  endfor %}