/* all */

:root {
  --color1: black;
  --color2: #f6f6f6;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

.header {
  background: #1a0833;
  display: flex;
  align-items: center;
  position: relative;
  background: #1a0833;
  padding: 0 2rem;
}

.header .logo {
  width: 6rem;
  height: 6rem;
}

.header .logo-text {
  display: inline-block;
  font-size: 2.2rem;
  color: #eae6e7;
  font-family: "Arial Black", serif;
  padding: 0 1rem;
}

.header .menu-list {
  color: #eae6e7;
  margin: 0;
}

.header .menu-list .list-item {
  display: inline-block;
  text-decoration: none;
}

.header .menu-list .list-item a {
  display: inline-block;
  font-size: 1.5rem;
  font-family: Arial, serif;
  font-weight: 900;
  padding: 2.7rem 1rem;
  cursor: pointer;
  color: #eae6e7;
  text-decoration: none;
  transition: all 0.4s;
}

.header .menu-list .list-item a:hover {
  background: #eae6e7;
  color: #1a0833;
  transition: all 0.4s;
}

.header .header-right {
  color: #eae6e7;
  font-size: 1.5rem;
  font-family: Arial, serif;
  position: absolute;
  right: 3rem;
}

.header .header-language {
  padding-right: 3rem;
  display: inline-block;
}

.header .header-language span {
  cursor: pointer;
}

.header .sign-in-location,
.header .sign-up-location {
  color: #eae6e7;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #eae6e7;
  background: #1a0833;
  font-size: 2rem;
  font-family: Arial, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-content {
  display: flex;
  align-items: center;
  height: 54px;
}

.footer .footer-content .copyright-icon {
  padding-right: 0.5rem;
}

/* show */

#show {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  font-family: Arial, self;
}

#show .container {
  border: 0.1rem solid #000;
  max-width: 85rem;
  background: #fff;
  position: relative;
  padding: 0 7rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

#show .container h1 {
  background: black;
  color: #fff;
  font-family: Arial;
  padding: 0.5rem;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#show .container .comment-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1.5rem;
  outline: none;
  font-family: Arial;
  height: 10rem;
}

#show .container .button-container {
  text-align: right;
}

#show .container .comment-button {
  width: 15rem;
  height: 4rem;
  background: black;
  color: #fff;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem 0;
  outline: none;
}

#show .container .comment-item {
  padding: 1.5rem;
  font-size: 1.6rem;
  border: 0.1rem solid #000;
  margin: 1rem;
  border-radius: 1.5rem;
}

#show .show-user {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
}

#show .show-user .user-icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

#show .show-user .show-user-container {
  font-size: 2rem;
  font-family: Arial;
}

#show .show-user .show-user-name {
  display: inline-block;
  margin: -0.5rem 0;
}

#show .show-user .show-user-container span {
  padding: 1rem;
}

#show .show-user .social-icons {
  position: absolute;
  right: 0;
}

#show .show-user .social-icons img {
  width: 4rem;
  height: 4rem;
}

#show .show-user .social-icons li {
  text-decoration: none;
  display: inline-block;
  padding: 0 0.5rem;
}

#show .show-user .social-icons li a {
  border-radius: 5rem;
}

#show .show-content img {
  width: 100%;
  max-height: 50rem;
}

#show .show-content p {
  font-size: 2rem;
  font-family: Arial;
  line-height: 3rem;
  word-spacing: 0.4rem;
  padding-top: 1.5rem;
}

#show .show-bottom {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: monospace;
}

#show .show-bottom span {
  padding: 0 1rem;
}

#show .show-bottom .like-dislike-container {
  display: inline-block;
  display: flex;
  align-items: center;
}

#show .show-bottom img {
  width: 3rem;
  cursor: pointer;
}

#show .show-bottom .show-bottom-right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 7.5rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 6px;
  }
}

/* post create */

#post-create {
  font-family: Arial, self;
  display: flex;
  background: var(--color2);
}

#post-create .container {
  display: inline-block;
  margin: 0 auto;
  min-width: 70%;
}

#post-create .container .post-create-title {
  color: var(--color1);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  padding: 3rem 0;
}

#post-create .container form {
  padding: 5rem 0;
}

#post-create .container form label {
  font-size: 2rem;
  padding: 1.5rem;
}

#post-create .container form .post-input-style {
  margin: 1rem 0 3.5rem 0;
  width: 50%;
  min-width: 40rem;
  outline: none;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 0.0005rem solid #000;
  box-shadow: 0px 3px 17px -8px rgba(112, 112, 112, 0.69);
  font-family: Arial, self;
  font-size: 1.6rem;
}

#post-create .container form #post-content {
  height: 40rem;
  width: 80%;
}

#post-create .container form #post-image {
  margin: 1rem 0 1.5rem 0;
}

#post-create .container form .post-create-button {
  width: 15rem;
  height: 4rem;
  background: #b4b4b4;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 17px -8px rgba(112, 112, 112, 0.69);
  border-radius: 1rem;
  margin: 1.5rem 0;
  font-size: 1.6rem;
  outline: none;
  font-weight: 700;
  color: var(--color2);
}

