{% extends 'post/layout.html' %}

{% block tittle %}
    Login
{% endblock %}

{% block content %}
    <div class="login">
        <div class="container">
            <h1 class="page-title">Login</h1>
            <form method = 'post'>
                <label for="login-user-name">Username</label><br>
                <input type="text" id = "login-user-name" placeholder="Username"><br>
                <label for="login-password">Password</label><br>
                <input type="password" id = "login-password" placeholder="Password"><br>
                <button class="login-button">Login</button>
            </form>
        </div>
    </div>

{% endblock %}

