{% extends 'post/layout.html' %}

{% block tittle %}
    Change Password
{% endblock %}

{% block content %}
    <div class="change-password">
        <div class="container">
            <h1 class="page-title">Change Password</h1>
            <form method ='post' action="{% url 'user:passwordchange' %}">
                <label for="change-password">Password</label><br>
                <input type="text" id="change-password" placeholder="Password"><br>
                <label for="change-new-password">New Password</label><br>
                <input type="password" id = "change-new-password" placeholder="New Password"><br>
                <label for="change-new-password-confirm">New Password Confirm</label><br>
                <input type="password" id="change-new-password-confirm" placeholder="Confirm"><br>
                <button id="change-password-button">Yadda saxla</button>
            </form>
        </div>
    </div>
{% endblock %}
