<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/static/css/app.css/" rel="stylesheet">
</head>
<body>

    <div class="register">
        <div class="container">
            <h1 class="register-title">Register</h1>
            <form method = 'post'>
                <label for="register-first-name">First name</label><br>
                <input type="text" id = "register-first-name" placeholder="First name"><br>
                <label for="register-last-name">Last name</label><br>
                <input type="text" id = "register-last-name" placeholder="Last name"><br>
                <label for="register-username">Username</label><br>
                <input type="text" id = "register-username" placeholder="Username"><br>
                <label for="register-email-address">Email address</label><br>
                <input type="email" id = "register-email-address" placeholder="Email address"><br>
                <label for="register-password">Password</label><br>
                <input type="password" id = "register-password" placeholder="Password"><br>
                <label for="register-password-confirm">Password Confirm</label><br>
                <input type="password" id = "register-password-confirm" placeholder="Confirm"><br>
                <button class="register-button">Register</button>
            </form>
        </div>
    </div>

</body>
</html>

