{% extends 'post/layout.html' %}

{% block tittle %}
    Seminar list
{% endblock %}

{% block content %}
<div class="seminar-list-container">
    <div class="container">
        <h1 class="page-title">Seminars</h1>
        <ul class="seminar-list">
            <li class="seminar-list-item">
                <a href="{% url 'seminar:seminar-detail' 1 %}">
                    <div class="seminar-item-bg">
                        <p class="seminar-item-read-more">Read more</p>
                    </div>
                    <img src="../../../static/img/seminar-item.png" alt="">
                    <div class="seminar-item-content">
                        <h3 class="seminar-item-name">Python haqqinda Seminar</h3>
                        <p class="seminar-item-about">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque culpa dolores error est explicabo maxime minima molestiae nam, nostrum numquam odio quae reiciendis sequi sunt tempore, ut, velit? Adipisci dignissimos ea facilis illo illum ipsa quaerat sequi, unde voluptatum? Incidunt iusto nam necessitatibus odit voluptatem? Aperiam atque, commodi. Qui.
                        </p>
                        <p class="seminar-item-owner">Owner: <span>Name</span></p>
                        <p class="seminar-item-date">Date: <span>12 may 8pm</span></p>
                        <p class="seminar-item-location">Location: <span>INNOLAND</span></p>
                    </div>
                </a>
            </li>
            <li class="seminar-list-item">
                <a href="{% url 'seminar:seminar-detail' 1 %}">
                    <div class="seminar-item-bg">
                        <p class="seminar-item-read-more">Read more</p>
                    </div>
                    <img src="../../../static/img/seminar-item.png" alt="">
                    <div class="seminar-item-content">
                        <h3 class="seminar-item-name">Python haqqinda Seminar</h3>
                        <p class="seminar-item-about">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque culpa dolores error est explicabo maxime minima molestiae nam, nostrum numquam odio quae reiciendis sequi sunt tempore, ut, velit? Adipisci dignissimos ea facilis illo illum ipsa quaerat sequi, unde voluptatum? Incidunt iusto nam necessitatibus odit voluptatem? Aperiam atque, commodi. Qui.
                        </p>
                        <p class="seminar-item-owner">Owner: <span>Name</span></p>
                        <p class="seminar-item-date">Date: <span>12 may 8pm</span></p>
                        <p class="seminar-item-location">Location: <span>INNOLAND</span></p>
                    </div>
                </a>
            </li>
            <li class="seminar-list-item">
                <a href="{% url 'seminar:seminar-detail' 1 %}">
                    <div class="seminar-item-bg">
                        <p class="seminar-item-read-more">Read more</p>
                    </div>
                    <img src="../../../static/img/seminar-item.png" alt="">
                    <div class="seminar-item-content">
                        <h3 class="seminar-item-name">Python haqqinda Seminar</h3>
                        <p class="seminar-item-about">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque culpa dolores error est explicabo maxime minima molestiae nam, nostrum numquam odio quae reiciendis sequi sunt tempore, ut, velit? Adipisci dignissimos ea facilis illo illum ipsa quaerat sequi, unde voluptatum? Incidunt iusto nam necessitatibus odit voluptatem? Aperiam atque, commodi. Qui.
                        </p>
                        <p class="seminar-item-owner">Owner: <span>Name</span></p>
                        <p class="seminar-item-date">Date: <span>12 may 8pm</span></p>
                        <p class="seminar-item-location">Location: <span>INNOLAND</span></p>
                    </div>
                </a>
            </li>
            <li class="seminar-list-item">
                <a href="{% url 'seminar:seminar-detail' 1 %}">
                    <div class="seminar-item-bg">
                        <p class="seminar-item-read-more">Read more</p>
                    </div>
                    <img src="../../../static/img/seminar-item.png" alt="">
                    <div class="seminar-item-content">
                        <h3 class="seminar-item-name">Python haqqinda Seminar</h3>
                        <p class="seminar-item-about">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque culpa dolores error est explicabo maxime minima molestiae nam, nostrum numquam odio quae reiciendis sequi sunt tempore, ut, velit? Adipisci dignissimos ea facilis illo illum ipsa quaerat sequi, unde voluptatum? Incidunt iusto nam necessitatibus odit voluptatem? Aperiam atque, commodi. Qui.
                        </p>
                        <p class="seminar-item-owner">Owner: <span>Name</span></p>
                        <p class="seminar-item-date">Date: <span>12 may 8pm</span></p>
                        <p class="seminar-item-location">Location: <span>INNOLAND</span></p>
                    </div>
                </a>
            </li>
            <li class="seminar-list-item">
                <a href="{% url 'seminar:seminar-detail' 1 %}">
                    <div class="seminar-item-bg">
                        <p class="seminar-item-read-more">Read more</p>
                    </div>
                    <img src="../../../static/img/seminar-item.png" alt="">
                    <div class="seminar-item-content">
                        <h3 class="seminar-item-name">Python haqqinda Seminar</h3>
                        <p class="seminar-item-about">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At atque culpa dolores error est explicabo maxime minima molestiae nam, nostrum numquam odio quae reiciendis sequi sunt tempore, ut, velit? Adipisci dignissimos ea facilis illo illum ipsa quaerat sequi, unde voluptatum? Incidunt iusto nam necessitatibus odit voluptatem? Aperiam atque, commodi. Qui.
                        </p>
                        <p class="seminar-item-owner">Owner: <span>Name</span></p>
                        <p class="seminar-item-date">Date: <span>12 may 8pm</span></p>
                        <p class="seminar-item-location">Location: <span>INNOLAND</span></p>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>


{% endblock %}